@page
@model Library_Of_Babel_Web_Application.Pages.BookModel
@using Logic.Entities;
@using Logic.DTOs;
@{
        <link href="~/css/BookPageStyle.css" rel="stylesheet" type="text/css"/>
    Layout = "";
}

<div class="header">
    <a href="#default" class="logo">@Model.BookObject.BookTitle</a>
    <div class="header-right">
        <a href="/Index">Home Page</a>
            <a href="/RecommendedPage?name=ByGenre">See recommended books</a>
            <a href="/RecommendedPage?name=ByRating">See top rated books</a>
            <a href="AccountInformationPage">Account Information</a>
    </div>
</div>

<form asp-page-handler="OnPostFavourite" method="post">
    <div class="container">
        <div class="upper-container">
            <div class="image-container">
                <img src="data:image/jpg;base64,@System.Convert.ToBase64String(@Model.BookObject.BookImage)" />
            </div>
            <div class="data-container">
                <h2>Title: @Model.BookObject.BookTitle</h2>
                <h3>Description: @Model.BookObject.BookDescription</h3>
                <h2>Genre: @Model.BookObject.Genre.GenreName</h2>
                <h3>Author: @Model.BookObject.BookAuthor</h3>
                <h3>Publish Date: @Model.BookObject.BookPublishDate</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    if (!Model.IsBookInside)
                    {
                        <input type="submit" id="quantity" value="Add To Favourites" class="buy-button">
                    }
                }
            </div>
        </div>
     </div>
</form>
@if (!Model.ReviewdBook)
{
    <a href="/AddReviewPage"><button class="button-3">Add a review</button></a>
}

<div class="container">
    <div class="lower-container">

        @foreach (Review review in Model.reviews)
        {
            <div class="review-card">
                <h3>Username: @review.User.FirstName:</h3>
                <h3>@review.ReviewName</h3>
                <h4>Rating: @review.Rating/5</h4>
            </div>

        }
    </div>
</div>






